* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: var(--color-bg);
  min-height: 100vh;
  padding-inline: max(calc(50vw - 600px), 1rem);
}

img {
  max-width: 100%;
}

.fullScreenHeight {
  min-height: 100vh;
  padding-block: 3rem;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
